body {
    background-color: #f0f2f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.background {
    margin: 0;
    min-height: 100vh;
    background-image: url(
        /Assets/background.jpg
    );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    position: inherit;
}

.header-container{
    position: inherit;
}

.header-container img {
    margin-right: 10px; /* Space between logo and text */
    width: 65px; /* Adjust the size as needed */
}

.header-container span {
    font-size: 2rem; /* Larger font size */
    font-weight: bold; /* Bold text */
    color: #007bff; /* Text color */
}

.card {
    border-radius: 10px;
    border: 1px solid #e0e0e0;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

